body{
    height: 214vw;
    background-color: #18181B;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 11px;
}
html::-webkit-scrollbar-track {
    background-color: #1b1b1b;
}
html::-webkit-scrollbar-thumb {
    background-color: #eeeeee;
    border-radius: 5px;
    border: solid 4px #093781;
}
html::-webkit-scrollbar-thumb:hover {
    background-color: #b4b4b4;
}
  
h1{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.15vw #fff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

img{
    user-select: none;

}

#Header {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4vw;
    position: fixed;
    font-family: Arial;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  #Header.visible {
    opacity: 1;
  }

#About {
    background-color: transparent;
    position: absolute;
    top: 44vw;
    width: 100%;
    height: 49vw;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out; /* Adjust the duration and easing as needed */
  }
  
  
  #ResumeSection {
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out; /* Adjust the duration and easing as needed */
  }
  
  #AwardsSection {
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out; /* Adjust the duration and easing as needed */
  }
  
  
.HomeB, .AboutB, .ResumeB, .AwardB, .ContactB{
    font-size: 1.2vw;
    color: transparent; 
    -webkit-text-stroke: 0.02vw #fff;
    padding: 1vw;
    background: none;
    border: none;
    transition: 0.0s;
}
.HomeB:hover, .AboutB:hover, .ResumeB:hover, .AwardB:hover, .ContactB:hover{
    text-shadow: 0px 0px 1vw #ffffff;
    transform: scale(1); 
}
.highlight {
    color: #ffffff; 
    transform: scale(1); 
    text-shadow: 0px 0px 0vw #ffffff;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #093781;
    z-index: -100;
}


.Title1 {
    opacity: 1;
    animation: Title1Anim 5s infinite;
  }
  
  .Title2 {
    opacity: 0;
    animation: Title2Anim 5s infinite;
  }
  
  @keyframes Title1Anim {
    0%, 20%, 100% {
      opacity: 0;
    }
    28.57%, 85.71% {
      opacity: 1;
    }
  }
  
  @keyframes Title2Anim {
    0%, 20%, 100% {
      opacity: 1;
    }
    28.57%, 85.71% {
      opacity: 0;
    }
  }
  
  
  
  
#ContactSection {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  #ContactSection.show {
    opacity: 1;
  }
  










.Contactboxes{
    transition: 0.3s;
  }
  .Contactboxes:hover{
    scale: 1.1;
    box-shadow: 0px 0px 0.8vw #fff;
  }


.BackToTopButtom{
    background-color: #212121;
    user-select: none; 
    width: 3vw; 
    display: block; 
    position: fixed; 
    top: 41vw; 
    right: 2vw; 
    border-radius: 1vw;  
    border: 0.3vw #ffffff solid; 
    transition: 0.3s;
  }
  
  .BackToTopButtom:hover{
    scale: 1.1;
    box-shadow: 0px 0px 0.7vw #fff;
  }

.DownloadButton{
    transition: 0.3s;
  }
  .DownloadButton:hover{
    scale: 1.1;
    box-shadow: 0px 0px 0.8vw #fff;
  }

  
















  /*RESPONSIVE AREA*/
  @media screen and (max-width: 600px) {
    .Home h1{
        font-size: 20vw; 
    }

}